#data {
    .modal {
        .fa-trash-o {
            font-size: 28px;
            margin-bottom: 18px;
            padding-left: 5px;
            color: #777;
            &:hover {
                color: #333;
            }
        }
    }
    .card {
        background-color: #ffffff05;
        position: relative;
        border: none;
        .btn {
            width: 100%;
            text-decoration: none;
            text-align: left;
            text-transform: uppercase;
            color: #777;


        }
        .fa-trash-o {
            position: absolute;
            top: 17px;
            right: 27px;
            font-size: 28px;
            color: #777;
            &:hover {
                color: #fff;
            }
        }
    }
}
