#admin {
    color: #eee;
    height: 100%;

    .form-group {
        .form-control {
            color: #ccc;
            background-color: rgba(255, 255, 255, 0.01);
            border: none;
            padding: 29px;
            border-radius: 0;
        }
        select {
            color: #ccc;
        }
        option {
            color:  $background;
            font-weight:bold;
            padding:5px
        }
    }
    .btn-danger {
        color: $background;
        border:none;
        background-color: #c37878;
        &:hover {
            background-color:  #c15353;
        }
    }
    .btn {
        a {
            color: $background;
        }
    }
    .btn-primary {
        background-color: $primary-light;
        &:hover {
            background-color: $primary;
        }
    }
    .btn-dark {
        color: $background;
        border: none;
        &:hover {
            background: #777;
        }
    }
    .btn-dark.active {
        color: $background !important;
        background-color: #ccc !important;
    }
    .selectPlaceholder {
        color: #ccc;
    }
    .btn-disabled {
        background-color: #ccc;
        &:hover {
            background-color: #ccc;
        }
    }
    .modal {
        color: #666;
        .form-control {
            color: #333;
            background-color: #fff;
            border: 1px solid #ced4da;
            padding: 0.375rem 0.75rem;
            border-radius: 5px;

        }
        input::placeholder {
            color: #ccc;
        }
        .btn-danger {
            color: #fff;
            background-color: #c19f9f;
            &:hover {
                background-color:  #c15353;
            }
        }
    }
    .paper {
        padding: 1rem;
        border-radius: 5px;
        background: #313640;
        h3 {
            font-weight: 200;
        }
    }
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #666;
        opacity: 1; /* Firefox */
    }
    .fa {
        color: #666;
        cursor: pointer;
        font-size: 33px;
        &:hover {
            color: #ccc;
        }
    }
}
