.drawer-enter-active, .drawer-leave-active {
  transition: margin .3s;
}
.drawer-enter, .drawer-leave-to /* .drawer-leave-active below version 2.1.8 */ {
  margin-left: -200px;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-slow-enter-active{
  transition-duration: 3s;
  transition-property: opacity;
  transition-timing-function: ease-in;
}

.fade-slow-leave-active {
  transition-duration: 0s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-slow-enter,
.fade-slow-leave-active {
  opacity: 0
}
